/*Juan Camilo Valencia Gutiérrez 
Base de datos II*/
USE [jardineria]
GO
/****** Object:  Table [dbo].[Categoria_producto]    Script Date: 13/09/2025 5:04:23 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria_producto](
	[Id_Categoria] [int] IDENTITY(1,1) NOT NULL,
	[Desc_Categoria] [varchar](50) NOT NULL,
	[descripcion_texto] [text] NULL,
	[descripcion_html] [text] NULL,
	[imagen] [varchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 13/09/2025 5:04:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[ID_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre_cliente] [varchar](50) NOT NULL,
	[nombre_contacto] [varchar](30) NULL,
	[apellido_contacto] [varchar](30) NULL,
	[telefono] [varchar](15) NOT NULL,
	[fax] [varchar](15) NOT NULL,
	[linea_direccion1] [varchar](50) NOT NULL,
	[linea_direccion2] [varchar](50) NULL,
	[ciudad] [varchar](50) NOT NULL,
	[region] [varchar](50) NULL,
	[pais] [varchar](50) NULL,
	[codigo_postal] [varchar](10) NULL,
	[ID_empleado_rep_ventas] [int] NULL,
	[limite_credito] [numeric](15, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_pedido]    Script Date: 13/09/2025 5:04:23 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_pedido](
	[ID_pedido] [int] NOT NULL,
	[ID_producto] [varchar](15) NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio_unidad] [numeric](15, 2) NOT NULL,
	[numero_linea] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_pedido] ASC,
	[ID_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empleado]    Script Date: 13/09/2025 5:04:23 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleado](
	[ID_empleado] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido1] [varchar](50) NOT NULL,
	[apellido2] [varchar](50) NULL,
	[extension] [varchar](10) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[ID_oficina] [int] NOT NULL,
	[ID_jefe] [int] NULL,
	[puesto] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[oficina]    Script Date: 13/09/2025 5:04:23 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[oficina](
	[ID_oficina] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](10) NOT NULL,
	[ciudad] [varchar](30) NOT NULL,
	[pais] [varchar](50) NOT NULL,
	[region] [varchar](50) NULL,
	[codigo_postal] [varchar](10) NOT NULL,
	[telefono] [varchar](20) NOT NULL,
	[linea_direccion1] [varchar](50) NOT NULL,
	[linea_direccion2] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_oficina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pago]    Script Date: 13/09/2025 5:04:23 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pago](
	[ID_cliente] [int] NOT NULL,
	[forma_pago] [varchar](40) NOT NULL,
	[id_transaccion] [varchar](50) NOT NULL,
	[fecha_pago] [date] NOT NULL,
	[total] [numeric](15, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_cliente] ASC,
	[id_transaccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pedido]    Script Date: 13/09/2025 5:04:23 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pedido](
	[ID_pedido] [int] IDENTITY(1,1) NOT NULL,
	[fecha_pedido] [date] NOT NULL,
	[fecha_esperada] [date] NOT NULL,
	[fecha_entrega] [date] NULL,
	[estado] [varchar](15) NOT NULL,
	[comentarios] [text] NULL,
	[ID_cliente] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producto]   Script Date: 13/09/2025 5:04:23 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto](
	[ID_producto] [varchar](15) NOT NULL,
	[nombre] [varchar](70) NOT NULL,
	[Categoria] [int] NOT NULL,
	[dimensiones] [varchar](25) NULL,
	[proveedor] [varchar](50) NULL,
	[descripcion] [text] NULL,
	[cantidad_en_stock] [smallint] NOT NULL,
	[precio_venta] [numeric](15, 2) NOT NULL,
	[precio_proveedor] [numeric](15, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categoria_producto] ON 

INSERT [dbo].[Categoria_producto] ([Id_Categoria], [Desc_Categoria], [descripcion_texto], [descripcion_html], [imagen]) VALUES (1, N'Herbaceas', N'Plantas para jardin decorativas', NULL, NULL)
INSERT [dbo].[Categoria_producto] ([Id_Categoria], [Desc_Categoria], [descripcion_texto], [descripcion_html], [imagen]) VALUES (2, N'Herramientas', N'Herramientas para todo tipo de acciÃ³n', NULL, NULL)
INSERT [dbo].[Categoria_producto] ([Id_Categoria], [Desc_Categoria], [descripcion_texto], [descripcion_html], [imagen]) VALUES (3, N'AromÃ¡ticas', N'Plantas aromÃ¡ticas', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Categoria_producto] OFF
GO
SET IDENTITY_INSERT [dbo].[cliente] ON 

INSERT [dbo].[cliente] ([ID_cliente], [nombre_cliente], [nombre_contacto], [apellido_contacto], [telefono], [fax], [linea_direccion1], [linea_direccion2], [ciudad], [region], [pais], [codigo_postal], [ID_empleado_rep_ventas], [limite_credito]) VALUES (1, N'GoldFish Garden', N'Daniel G', N'GoldFish', N'5556901745', N'5556901746', N'False Street 52 2 A', NULL, N'San Francisco', NULL, N'USA', N'24006', 19, CAST(3000.00 AS Numeric(15, 2)))
INSERT [dbo].[cliente] ([ID_cliente], [nombre_cliente], [nombre_contacto], [apellido_contacto], [telefono], [fax], [linea_direccion1], [linea_direccion2], [ciudad], [region], [pais], [codigo_postal], [ID_empleado_rep_ventas], [limite_credito]) VALUES (2, N'Gardening Associates', N'Anne', N'Wright', N'5557410345', N'5557410346', N'Wall-e Avenue', NULL, N'Miami', N'Miami', N'USA', N'24010', 19, CAST(6000.00 AS Numeric(15, 2)))
INSERT [dbo].[cliente] ([ID_cliente], [nombre_cliente], [nombre_contacto], [apellido_contacto], [telefono], [fax], [linea_direccion1], [linea_direccion2], [ciudad], [region], [pais], [codigo_postal], [ID_empleado_rep_ventas], [limite_credito]) VALUES (3, N'Gerudo Valley', N'Link', N'Flaute', N'5552323129', N'5552323128', N'Oaks Avenue nÂº22', NULL, N'New York', NULL, N'USA', N'85495', 22, CAST(12000.00 AS Numeric(15, 2)))
SET IDENTITY_INSERT [dbo].[cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[empleado] ON 

INSERT [dbo].[empleado] ([ID_empleado], [nombre], [apellido1], [apellido2], [extension], [email], [ID_oficina], [ID_jefe], [puesto]) VALUES (1, N'Marcos', N'MagaÃ±a', N'Perez', N'3897', N'marcos@jardineria.es', 8, NULL, N'Director General')
INSERT [dbo].[empleado] ([ID_empleado], [nombre], [apellido1], [apellido2], [extension], [email], [ID_oficina], [ID_jefe], [puesto]) VALUES (2, N'Ruben', N'LÃ³pez', N'Martinez', N'2899', N'rlopez@jardineria.es', 8, 1, N'Subdirector Marketing')
INSERT [dbo].[empleado] ([ID_empleado], [nombre], [apellido1], [apellido2], [extension], [email], [ID_oficina], [ID_jefe], [puesto]) VALUES (3, N'Alberto', N'Soria', N'Carrasco', N'2837', N'asoria@jardineria.es', 8, 2, N'Subdirector Ventas')
SET IDENTITY_INSERT [dbo].[empleado] OFF
GO
SET IDENTITY_INSERT [dbo].[oficina] ON 

INSERT [dbo].[oficina] ([ID_oficina], [Descripcion], [ciudad], [pais], [region], [codigo_postal], [telefono], [linea_direccion1], [linea_direccion2]) VALUES (1, N'BCN-ES', N'Barcelona', N'EspaÃ±a', N'Barcelona', N'08019', N'+34 93 3561182', N'Avenida Diagonal, 38', N'3A escalera Derecha')
INSERT [dbo].[oficina] ([ID_oficina], [Descripcion], [ciudad], [pais], [region], [codigo_postal], [telefono], [linea_direccion1], [linea_direccion2]) VALUES (2, N'BOS-USA', N'Boston', N'EEUU', N'MA', N'02108', N'+1 215 837 0825', N'1550 Court Place', N'Suite 102')
INSERT [dbo].[oficina] ([ID_oficina], [Descripcion], [ciudad], [pais], [region], [codigo_postal], [telefono], [linea_direccion1], [linea_direccion2]) VALUES (3, N'LON-UK', N'Londres', N'Inglaterra', N'EMEA', N'EC2N 1HN', N'+44 20 78772041', N'52 Old Broad Street', N'Ground Floor')
SET IDENTITY_INSERT [dbo].[oficina] OFF
GO
SET IDENTITY_INSERT [dbo].[pedido] ON 

INSERT [dbo].[pedido] ([ID_pedido], [fecha_pedido], [fecha_esperada], [fecha_entrega], [estado], [comentarios], [ID_cliente]) VALUES (1, CAST(N'2006-01-17' AS Date), CAST(N'2006-01-19' AS Date), CAST(N'2006-01-19' AS Date), N'Entregado', N'Pagado a plazos', 5)
INSERT [dbo].[pedido] ([ID_pedido], [fecha_pedido], [fecha_esperada], [fecha_entrega], [estado], [comentarios], [ID_cliente]) VALUES (2, CAST(N'2007-10-23' AS Date), CAST(N'2007-10-28' AS Date), CAST(N'2007-10-26' AS Date), N'Entregado', N'La entrega llego antes de lo esperado', 5)
INSERT [dbo].[pedido] ([ID_pedido], [fecha_pedido], [fecha_esperada], [fecha_entrega], [estado], [comentarios], [ID_cliente]) VALUES (3, CAST(N'2008-06-20' AS Date), CAST(N'2008-06-25' AS Date), NULL, N'Rechazado', N'Limite de credito superado', 5)
GO
SET IDENTITY_INSERT [dbo].[pedido] OFF
GO
ALTER TABLE [dbo].[cliente] ADD  DEFAULT (NULL) FOR [nombre_contacto]
GO
ALTER TABLE [dbo].[cliente] ADD  DEFAULT (NULL) FOR [apellido_contacto]
GO
ALTER TABLE [dbo].[cliente] ADD  DEFAULT (NULL) FOR [linea_direccion2]
GO
ALTER TABLE [dbo].[cliente] ADD  DEFAULT (NULL) FOR [region]
GO
ALTER TABLE [dbo].[cliente] ADD  DEFAULT (NULL) FOR [pais]
GO
ALTER TABLE [dbo].[cliente] ADD  DEFAULT (NULL) FOR [codigo_postal]
GO
ALTER TABLE [dbo].[cliente] ADD  DEFAULT (NULL) FOR [ID_empleado_rep_ventas]
GO
ALTER TABLE [dbo].[cliente] ADD  DEFAULT (NULL) FOR [limite_credito]
GO
ALTER TABLE [dbo].[empleado] ADD  DEFAULT (NULL) FOR [apellido2]
GO
ALTER TABLE [dbo].[empleado] ADD  DEFAULT (NULL) FOR [ID_jefe]
GO
ALTER TABLE [dbo].[empleado] ADD  DEFAULT (NULL) FOR [puesto]
GO
ALTER TABLE [dbo].[oficina] ADD  DEFAULT (NULL) FOR [region]
GO
ALTER TABLE [dbo].[oficina] ADD  DEFAULT (NULL) FOR [linea_direccion2]
GO
ALTER TABLE [dbo].[pedido] ADD  DEFAULT (NULL) FOR [fecha_entrega]
GO
ALTER TABLE [dbo].[producto] ADD  DEFAULT (NULL) FOR [proveedor]
GO
ALTER TABLE [dbo].[producto] ADD  DEFAULT (NULL) FOR [precio_proveedor]
GO
ALTER TABLE [dbo].[cliente]  WITH CHECK ADD FOREIGN KEY([ID_empleado_rep_ventas])
REFERENCES [dbo].[empleado] ([ID_empleado])
GO
ALTER TABLE [dbo].[detalle_pedido]  WITH CHECK ADD FOREIGN KEY([ID_pedido])
REFERENCES [dbo].[pedido] ([ID_pedido])
GO
ALTER TABLE [dbo].[detalle_pedido]  WITH CHECK ADD FOREIGN KEY([ID_producto])
REFERENCES [dbo].[producto] ([ID_producto])
GO
ALTER TABLE [dbo].[empleado]  WITH CHECK ADD FOREIGN KEY([ID_jefe])
REFERENCES [dbo].[empleado] ([ID_empleado])
GO
ALTER TABLE [dbo].[empleado]  WITH CHECK ADD FOREIGN KEY([ID_oficina])
REFERENCES [dbo].[oficina] ([ID_oficina])
GO
ALTER TABLE [dbo].[pago]  WITH CHECK ADD FOREIGN KEY([ID_cliente])
REFERENCES [dbo].[cliente] ([ID_cliente])
GO
ALTER TABLE [dbo].[pedido]  WITH CHECK ADD FOREIGN KEY([ID_cliente])
REFERENCES [dbo].[cliente] ([ID_cliente])
GO
ALTER TABLE [dbo].[producto]  WITH CHECK ADD FOREIGN KEY([Categoria])
REFERENCES [dbo].[Categoria_producto] ([Id_Categoria])
GO
